<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.image_url %>)">
  <div class="container">
    <h1 class="text-center"><%= @garden.name %></h1>
  </div>
</div>

<div class="container">
  <div class="cards my-2">
    <% @garden.plants.each do |plant| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
        <%= plant.name %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <div class="text-center">
          <%= f.submit 'Create new Plant', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
